.left {
    width: auto;
    height: 120px;
}

.left div {
    width: 100px;
    height: 70px;
    padding: 5px;
    margin: 5px;
    float: left;
    background: #bbffaa;
    border: 1px solid #ccc;
}

.bottom {
    width: 800px;
}

.bottom div,
.bottom span {
    display: block;
    width: 80px;
    height: 80px;
    margin: 5px;
    background: #bbffaa;
    float: left;
    font-size: 14px;
}

.bottom .small {
    width: 60px;
    height: 25px;
    font-size: 12px;
    background: #fab;
}
